@model ExerciseTracker.Modules.Modules.ExerciseViewModel

<script src="~/lib/jquery/dist/jquery.js"></script>

<form method="post">
  <input name="UserID" type="text" placeholder="UserID*" value="" required/><br />
  <input name="description" type="text" placeholder="Description*" value="" required/><br />
  <input name="duration" type="text" placeholder="Duration*(mins.)" value="" required/><br />
  <input name="date" type="text" placeholder="Date (yyyy-mm-dd)" value="" /><br />
  <br/>
  <input type="submit" name="Submit" value="Submit" />
</form>