@model ExerciseTracker.Modules.Modules.UserViewModel

<script src="~/lib/jquery/dist/jquery.js"></script>

<form method="post">
    <input name="Username" type="text" placeholder="Username" value="" />
    <br/>
    <br/>
    <input type="submit" name="Submit" value="Submit" />
</form>